body {
  font-family: 'Helvetica', sans-serif;
}
h2 { font-size: 48px; }

.chart {
  text-align: center;
  margin: 40px;
}
.col-md-3 {
  float: left;
  width: 300px;
}

.well {
  background: #EEE;
  padding: 20px;
  border-radius: 25px;
}
.chart:hover {
  background: #fbf6ba;
}
.chart img {
  height: 165px;
  width: 215px;
}

.airport {
  font-size: 96px;
  text-align: center;
}

.on-time {
  color: green;
}

.delayed {
  color: orange;
}

.nightmare {
  color: red;
}

